<tr>
  <td>
    <p style="text-align: center; font-size: 18px;">
      Hello {{user}}, you have requested to reset your account's password. Please click the button below to reset your password.
    </p>
  </td>
</tr>
<tr>
  <td>
    <p style="text-align: center; font-size: 18px;">
      <a href="{{link}}" style="background: #ff0000; color: #ffffff; padding: 15px 40px; border-radius: 40px; text-decoration: none;">Reset Password</a>
    </p>
  </td>
</tr>
<tr>
  <td>
    <p style="text-align: center; font-size: 18px">
      Alternatively, please copy paste this link if the button above is not working.<br>
      <small>{{link}}</small>
    </p>
  </td>
</tr>