<tr>
  <td>
    <p style="text-align: center; font-size: 18px;">
      Hello {{user}}, this email is to notify you that you have updated your password. If you did not perform such action please
      contact your administrator immediately.
    </p>
  </td>
</tr>